name: Frontend Staging CI/CD

on:
  push:
    branches:
      - staging

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Frontend
        run: npm run build

      - name: Deploy to Staging
        run: |
          scp -r build/* ubuntu@STAGING_IP:/var/www/frontend
